
/* Open-sans fonts */
$open-light: 'OpenSansLight';
$open-light-ital: 'OpenSansLightitalic';

$open-reg: 'OpenSansRegular';
$open-ital: 'OpenSansItalic';

$open-bold: 'OpenSansBold';
$open-bold-ital: 'OpenSansBolditalic';

$open-semi-bold: 'OpenSansSemibold';
$open-semi-ital: 'OpenSansSemibolditalic';

$open-extra-bold: 'OpenSansExtrabolditalic';
$open-extra-bold-ital: 'OpenSansExtrabolditalic';


/* Yeseva-one fonts */
$yeseva-reg: 'yeseva_oneregular';
