
.lectures
  include ../data/dataInterface
  +lecture(interfacesSchool, title)
  include ../data/dataMobileDesign
  +lecture(mobileDesignSchool, title)
  include ../data/dataMobileDevelop
  +lecture(mobileDevelopSchool, title)



