- var title = 'Школа разработки интерфейсов';
-
  var interfacesSchool = [
  {
  month: 'Октябрь',
  data: {
  '15.10.2017': {
  lectureName: 'Адаптиваня верска',
  lectureAuthor: 'Дмитрий Душкин',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4162/'
  },
  '18.11.2017': {
  lectureName: 'Работа с сенсорным пользовательским вводом',
  lectureAuthor: 'Дмитрий Душкин',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4162/'
  }
  }
  },
  {
  month: 'Ноябрь',
  data: {
  '10.11.2017': {
  lectureName: 'Мультимедиа: возможности браузера',
  lectureAuthor: 'Дмитрий Душкин',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4162/'
  },
  '14.11.2017': {
  lectureName: 'Нативные приложения на веб-технологиях',
  lectureAuthor: 'Дмитрий Душкин',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4162/'
  },
  '18.11.2017': {
  lectureName: 'Клиентская оптимизация: базовые знания и лучшие практики',
  lectureAuthor: 'Дмитрий Душкин',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4162/'
  },
  '28.11.2017': {
  lectureName: 'Клиентская оптимизация: мобильные устройства и инструменты',
  lectureAuthor: 'Дмитрий Душкин',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4162/'
  }
  }
  }
  ]
