- var title = 'Школа мобильной разработки'
-
  var mobileDevelopSchool = [
  {
  month: 'Октябрь',
  data: {
  '15.10.2017': {
  lectureName: 'Идея, исследование, концепт (Часть 1)',
  lectureAuthor: 'Антон Тен',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4158/'
  },
  '17.10.2017': {
  lectureName: 'Идея, исследование, концепт (Часть 2)',
  lectureAuthor: 'Антон Тен',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4159/'
  }
  }
  },
  {
  month: 'Ноябрь',
  data: {
  '06.11.2017': {
  lectureName: 'Продукт и платформа',
  lectureAuthor: 'Сергей КалабинЯндекс',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4189/'
  },
  '16.11.2017': {
  lectureName: 'Природа операционных систем',
  lectureAuthor: 'Васюнин Николай',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4190/'
  },
  '17.11.2017': {
  lectureName: 'Прототипирование как процесс',
  lectureAuthor: 'Сергей Томилов',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4267/'
  },
  '22.11.2017': {
  lectureName: 'Инструмент под задачи',
  lectureAuthor: 'Сергей Томилов',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4268/'
  }
  }
  }
  ]