- var title = 'Школа мобильного дизайна';
-
  var mobileDesignSchool = [
  {
  month: 'Октябрь',
  data: {
  '13.10.2017': {
  lectureName: 'Java Blitz (Часть 1)',
  lectureAuthor: 'Эдуард Мацуков',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4160/'
  },
  '17.10.2017': {
  lectureName: 'Git & Workflow',
  lectureAuthor: 'Дмитрий Складнов',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4161/'
  }
  }
  },
  {
  month: 'Ноябрь',
  data: {
  '03.11.2017': {
  lectureName: 'MyFirstApp (Часть 2)',
  lectureAuthor: 'Роман Григорьев',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4195/'
  },
  '14.11.2017': {
  lectureName: 'ViewGroup',
  lectureAuthor: 'Алексей Щербинин',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4196/'
  },
  '18.11.2017': {
  lectureName: 'Background',
  lectureAuthor: 'Алексей Макаров',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4222/'
  },
  '28.11.2017': {
  lectureName: 'Service & Broadcasts',
  lectureAuthor: 'Алексей Макаров',
  downloadUrl: 'https://events.yandex.ru/lib/talks/4275/'
  }
  }
  }
  ]