.container {
  margin: auto;
  max-width: 1155px;
  padding: 0 10px;
  position: relative;

  @media (max-width: 815px) {
    width: 90%;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

/* ------ Colors ------ */
.grey {
  color: #9b9b9b;
}

.red {
  color: #df5950;
}

.green {
  color: #70a086;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}


/* ------ View ------ */

.error {
  outline: 1px solid red !important;
}